# 常见的Qt使用CMake构建的必须要被忽略的文件和目录
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.so
*.dll
*.exe
*.log
*.user
*.pro.user
*.pro.user.*

# 一些在文档中需要忽略的文件或目录
Schema/

# 其他可能的构建文件和目录
.vs/
.opencode/
.claude/
*.vcxproj*
*.sln
*.ninja
dist/
out/
bin/ 
build-*/
build/
ninja-debug/
install/
temp/
enpht/

# 一些测试生成的执行脚本
run_app.bat
run_test.bat
run_qscintilla-demo.bat
run_guidance-demo.bat

# 一些cmake生成的文件或会被修改的文件
version.txt

# 第三方依赖缓存目录
3rdparty/spdlog-1.17.0/
3rdparty/googletest-1.17.0/
3rdparty/libharu-2.4.6/
3rdparty/lua/
3rdparty/lua-5.4.4/
3rdparty/QScintilla-2.11.3/
3rdparty/Qt-Advanced-Docking-System-3.8.3/
3rdparty/QXlsx-1.5.0/
3rdparty/lua/
3rdparty/zlib-1.3.2/
3rdparty/libpng-1.6.43/
3rdparty/sol2-3.3.0/
